body {
    background-color: black;
    
    display: flex;
    justify-content: center;

    
    color: black;

    font-family: 'Inter', sans-serif;
    
}

#container {
    display: flex;
    
}


#formulario {
    background-color: (1, 159, 244);
    
    

    width: 500px;
    height: 600px;

    display: flex;
    justify-content: center;
    


    

}

#fields {
    background-color: white;
    border-radius: 15px;

    align-items: center;
    align-content: center;
    align-self: center;

    

    padding: 20px;


}

button {
    display: flex;
    position: relative;
    left: 155px;

    border-radius: 10px;
    height: 30px;

}

.back-to-login {
    display: flex;
    justify-content: center;
    
    color: black;



}

#name {
    border-radius: 10px;
    height: 30px;
}

#last-name {
    border-radius: 10px;
    height: 30px;
}

#cpf {
    border-radius: 10px;
    height: 30px;
}

#telephone {
    border-radius: 10px;
    height: 30px;
}

#cellphone {
    border-radius: 10px;
    height: 30px;
}

#birth {
    border-radius: 10px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    #formulario {
      height: auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    #formulario {
      max-width: 300px;
    }
  
    #fields {
      padding: 10px;
    }
  
    #name,
    #last-name,
    #cpf,
    #telephone,
    #cellphone,
    #birth {
      height: 25px;
      font-size: 14px;
    }
  
    button {
      height: 25px;
      font-size: 14px;
    }
  }