body {
    background-color: black;
    
    display: flex;
    justify-content: center;

    color: black;
    font-family: 'Inter', sans-serif;
}


#container {
    display: flex;
}

#forgot-my-password {
    background-color: black;
    
    

    width: 500px;
    height: 600px;

    display: flex;
    justify-content: center;
    


    

}

#fields {
    
    background-color: white;
    border-radius: 15px;

    align-items: center;
    align-content: center;
    align-self: center;

    text-align: center;

    padding: 20px;
    


}

.back-to-login {
    color: black;
}

button {
    border-radius: 10px;
    height: 30px;
}

#email {
    border-radius: 10px;
    height: 30px;
}

